// Place all the styles related to the email controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  padding: 0;
  margin: 0;
  font-family: Arial;
}

body {
  background: #fd5c63;
}

h1 {
  text-align: center;
  margin-top: 60px;
  color: white;
  font-size: 8em;
}

#container {
  width: 1000px;
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  margin: auto;
  margin-top: 30px;
}

.mail-list {
  box-sizing: border-box;
  width: 450px;
  border: solid 5px white;
  margin-right: 30px;
  padding: 30px;
  color: white;
  font-size: 2.5em;
  border-radius: 10px;
  background: #613854;
}

li {
  list-style: none;
  line-height: 40px;
}

#output1 {
  padding: 10px;
}

#output2 {
  padding: 10px;
  color: gold;
}

#mail2 {
  color: gold;
}

#output3 {
  padding: 10px;
  color: blue;
}

#mail3 {
  color: blue;
}

#output4 {
  padding: 10px;
  color: red;
}

#mail4 {
  color: red;
}

.container-view {
  width: 450px;
  margin-left: 30px;
  height: 450px;
  border: solid 5px #003666;
  border-radius: 10px;
  background: white;
}

.mail-view {
  background: white;
}
